*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section .header .nav{
    background-color: rgb(208, 4, 4);
    color: white;
    padding: 20px 60px;
}
section .header .nav ul li{
    display: inline-block;
    margin: 0 20px;
    font-size: 20px;
 margin-left: 50px;
}
section .header .nav ul li span{
    background-color: brown;
   padding: 5px;
}
section .header .nav img{
    width: 70px;
    height: 50px;
 margin-top: -20px;
 margin-left: -20px;
   float: left;
}
 section .image{

    background-image: url(./template_session4/background.png);
  
    height: 120vh;
   
    background-size:contain;
    background-repeat: no-repeat;
    
}
.image h1{
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top: 50px;
    font-size: 50px;
}
.image .bu{
    width: 150px;
    height: 40px;
    background-color: rgb(59, 21, 21);
    color: white;
    font-size: 15px;
    border-radius: 10px;
   margin-top: 200px;
   margin-left: 600px;
   margin-right: 48px;

}
.image .but{
    width: 150px;
    height: 40px;
    background-color: rgb(59, 21, 21);
    color: white;
    font-size: 15px;
    border-radius: 10px;
}
section .table table {
    
        width: 80%;
        font-size: 30px;
        background-color:rgb(131, 8, 8);
        text-align: center;
        color: rgb(27, 25, 25);
        height: 40px;
        margin-left: 120px;
        border: 3px solid ;

}
.css td{
    background-color: rgb(42, 37, 37);
}
 .js td{
    background-color: rgb(42, 37, 37);
}
td{
    border: 3px solid rgb(131, 8, 8);
    color: white;
    width: 50px;
    height: 60px;
   background-color: gray;
}
th {
    background-color: aliceblue;
    border: 3px solid rgb(131, 8, 8);
}
input[type=submit]{
    background-color: rgb(161, 15, 15);
    width: 70px;
    height: 40px;
    border-radius: 10px;
    color: white;
}
.table table img{
    width: 100px;
    height: 100px;
    border-radius: 50px;

}
h2{
    text-align: center;
    margin: 20px;
}
section .imgs{
   background-image: url(./template_session4/back2.jpg);
    width: 100%;
    height: 400px;
    margin-top: 40px;
}
section .parag{
    text-align: center;
    font-size: 30px;
    margin: 20px;
}
section .imgs .immg{
    width: 300px;
    height: 350px;
    display:inline-block ;
    background-color: rgb(52, 52, 46);
    margin: 40px 0px 43px 120px;
    padding: 50px;
}
section .imgs .immg img{
    width: 300px;
    height: 150px;
   margin-left: -50PX;
   margin-top: -50PX;
}
section .imgs .immg .html{
    font-size: 20px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
section .imgs .immg .css{
    font-size: 20px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
section .imgs .immg .js{
    font-size: 15px;
   font-family: Georgia, 'Times New Roman', Times, serif;
}
section .imgs .immg p{
    color: white;
    margin-top: 20px;
}

section .imgs .immg button{
    width: 300px;
 height: 30px;
 margin-left: -50PX;
   margin-top: 30PX;
   background-color: rgb(82, 14, 14);
   color: white;
}
.imgs-2 .php{
    background-color: rgb(149, 149, 194);
    width: 500px;
    height: 320px;
    margin-top: 70px;
    margin-left: 100px;
}
section .php img{
    width: 150px;
    height: 120px;
   margin-left: 150px;
   margin-top: 30px;
}
 .php p{
    text-align: center;
}
.php .php-p{
    text-align: center;
    color: white;
    padding-top: 20px;
}

    .php button{
        width: 200px;
        height: 40px;
        border-radius: 10px;
        background-color:rgb(82, 14, 14) ;
        color: white;
        margin-left: 110px;
        margin-top: 10px;
    }
.two .sql{
    background-color: rgb(255, 187, 0);
    width: 500px;
    height: 330px;
    margin-left: 856px;
    margin-top: -330px;

    
}
.two .sql img{
    width: 200px;
    height: 150px;
    margin-left: 100px;
    margin-top: 20px;
}
.two .sql button{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color:rgb(82, 14, 14) ;
    color: white;
    margin-left: 110px;
    margin-top: 10px;
}
.two .sql p{
    text-align: center;
}
.two .sql .sql-p{
    text-align: center;
    color: white;
    padding-top: 20px;
}
.footer p{
    text-align: center;
    background-color: black;
    width: 100%;
    height: 30px;
    margin-top: 30px;
    color: white;
    padding: 30px;
    font-size: 25px;
    
}

